* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* colore btn a #0061fd */
    /* sfondo hero #b4d0e6 */
    /* testo #000000 */

    --bk-btn: #0061fd;
    --bg-hero: #b4d0e6;
    --text-0: #000;
    --border-color: lightgray;


    /* DEBUG */
    --deb-bg-hero2: yellow;
    --deb-bg-hero3: skyblue;

    --deb-bg-column: pink;
    --deb-bg-sect: lightgreen;
    --deb-bg-card: gray;

    --deb-bg-footer: #000;
    --deb-bg-footer-list: violet;
}

/*XXXXXXXXXXXXX
XXXXXGENRALXXXX
XXXXXXXXXXXXXX*/

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.height40 {
    height: 100px;
}

.height100 {
    height: 200px;
    border: 1px solid;
}

.height200 {
    height: 400px;
}

.width40 {
    width: 40px;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.col-3 {
    width: calc(95% / 3);
}

.width100pc {
    width: 100%;
}

li {
    list-style: none;
}

.btn {
    background-color: var(--bk-btn);
    color: #fff;
    padding: 4px 8px;
}

img {
    max-width: 600px;
}

a {
    text-decoration: none;
    color: #000;
}

/*XXXXXXXXXXXXX
XXXXXHEADERXXXX
XXXXXXXXXXXXXX*/

.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0 20px;
}

.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


/*XXXXXXXXXXXXX
XXXXXMAINXXXX
XXXXXXXXXXXXXX*/

.container {
    margin: 0 auto;
    width: 80%;
    border: 1px solid black;
}


/*XXXXXXXXXXXXX
XXXXXXHEROXXXXX
XXXXXXXXXXXXXX*/

.hero {
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    height: 80%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: var(--bg-hero);
    z-index: -1;
}

.hero-container {
    margin: 0 auto;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-d {
    width: 100%;
    padding: 10px 0;
}

.hero-bottom {
    gap: 10px;
}

.hero .col-40 {
    align-items: flex-start;
    gap: 20px;
}

.hero a {
    text-decoration: none;
}

/*XXXXXXXXXXXXX
XXXXXXXXXXXXXXX
WIP
XXXXXXXXXXXXXXX
XXXXXXXXXXXXXX*/




/*XXXXXXXXXXXXX
XXXCONTAINERXXX
XXXXXXXXXXXXXX*/

/*XXXXXXTROVAXXXXXX*/

.container h2.row {
    padding: 12px 0;
}

/*XXXXXXTOWERXXXXXX*/

.tower {
    border: 1px solid var(--border-color);
}

.type div {
    width: max-content;
    margin: 0 auto;
    padding: 8px 0;
}

.tower-core {
    border-top: 1px solid var(--border-color);
}

.tower-h,
.tower-ul,
.tower-m,
.tower-f {
    padding: 20px 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* .tower-h {
    gap: 6px;
} */

.cost {
    font-weight: 600;
}

.date {
    color: gray;
}

.tower-ul {
    gap: 20px;
}

/* .tower ul span {
    display: inline-block;
} */

.tower-m .a {
    text-decoration: underline;
}

.tower-f {}

/* 
<i class="fa-solid fa-users"></i>
<i class="fa-solid fa-building"></i> 
<i class="fa-solid fa-share-nodes"></i>
<i class="fa-solid fa-folder"></i>
<i class="fa-solid fa-check"></i>
*/

.tower-cont {
    gap: 20px;
}

.cont-main>* {
    padding: 12px;
}

.grid {
    justify-content: center;
    flex-wrap: wrap;
}

.row {
    background-color: blueviolet;
}

.img {
    background-color: aquamarine;
    border: 1px solid black;
}

.card {
    background-color: var(--deb-bg-sect);
    border: 1px solid red;
}

/*XXXXXXXXXXXXX
XXXXXFOOTERXXXX
XXXXXXXXXXXXXX*/

footer {

    background-color: #000;
    display: none;
    /* display: flex; */
    flex-direction: column;
}

.footer {
    width: 80%;
    margin: 0 auto;
}

.footer>div {
    padding: 16px 0;
}

.footer-up {
    display: flex;
    justify-content: space-between;
}

.footer-up div {
    background-color: aquamarine;
}

.footer-bott {
    width: fit-content;
    background-color: green;
    border-top: 1px solid #fff;
}