* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bk-btn: #0061fd;
    --bg-hero: #b4d0e6;
    --text-0: #000;
    --border-color: lightgray;
}

img {
    max-width: 600px;
}

/*XXXXXXXXXXXXX
XXXXXGENRALXXXX
XXXXXXXXXXXXXX*/

body {
    font-family: sans-serif;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.col-3 {
    width: calc(95% / 3);
}

.width100pc {
    width: 100%;
}

li {
    list-style: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bk-btn);
    color: #fff;
    padding: 0.8em 1em;
}

a {
    text-decoration: none;
    color: #000;
}

hr {
    width: 20%;
    margin-left: 10%;
}

.row {
    font-size: 2rem;
    font-weight: 700;
}

.row span {
    font-size: 2rem;
    font-weight: 700;
}

/*XXXXXXXXXXXXX
XXXXXHEADERXXXX
XXXXXXXXXXXXXX*/

.header {
    font-size: 0.8rem;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0 20px;
}

.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header li:hover a {
    text-decoration: underline;
}


/*XXXXXXXXXXXXX
XXXXXMAINXXXX
XXXXXXXXXXXXXX*/

.container {
    margin: 0 auto;
    width: 80%;
    padding: 24px 0;
}


/*XXXXXXXXXXXXX
XXXXXXHEROXXXXX
XXXXXXXXXXXXXX*/

.hero {
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    height: 80%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: var(--bg-hero);
    z-index: -1;
}

.hero-container {
    margin: 0 auto;
    width: 70%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-d {
    width: 100%;
    padding: 10px 0;
}

.hero-top h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

.hero-bottom {
    gap: 10px;
}

.hero .col-40 {
    align-items: flex-start;
    gap: 20px;
}

.hero .col-40 span {
    font-size: 0.8rem;
}

.hero .col-40 i {
    font-size: 1.5rem;
}

.hero a {
    text-decoration: none;
}

/*XXXXXXXXXXXXX
XXXCONTAINERXXX
XXXXXXXXXXXXXX*/

/*XXXXXXTROVAXXXXXX*/

.container .row {
    padding: 48px 0 24px;
}

.billing-options {
    margin: 20px 0;
}

label {
    font-size: 16px;
    margin-right: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

/*XXXXXXTOWERXXXXXX*/

.tower-cont {
    gap: 20px;
}


.tower {
    border: 1px solid var(--border-color);
    font-size: 0.8rem;
}

.type div {
    width: max-content;
    margin: 0 auto;
    padding: 8px 0;
}

.type {
    border-bottom: 1px solid var(--border-color);
}

.tower-h,
.tower-ul,
.tower-m,
.tower-f {
    padding: 20px 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.tower-h .cost {
    font-weight: 600;
}

.tower-h .date {
    color: gray;
}

.tower-ul {
    gap: 20px;
}

.tower-ul li,
.tower-f li {
    display: flex;
}

.tower ul span {
    padding: 0 6px;
}

.tower-m .a {
    text-decoration: underline;
}

.tower-m span {
    padding: 1em 0 0;
}

.tower-f i {
    color: lightskyblue;
}

.tower-f li {
    padding: 0.6em 0;
}

.tower:last-child .date {
    color: #fff;
}

/* 
<i class="fa-solid fa-users"></i>
<i class="fa-solid fa-building"></i> 
<i class="fa-solid fa-share-nodes"></i>
<i class="fa-solid fa-folder"></i>
<i class="fa-solid fa-check"></i>
*/

/*XXXXXXENTERPRISEXXXXXX*/

.enterprise {
    border: 1px solid lightgray;
}

.enterp-core {
    padding: 28px 20px;
}

.enterp-core span {
    font-weight: 600;
    padding: 12px 0;
    display: inline-block;
}

.enterp-core p {
    font-size: 0.8rem;
    padding: 24px 0 12px;
}

/*XXXXXXPARTNERXXXXXX*/

.partner {
    display: flex;
}

.partner .content {
    padding: 4em 2em;
}

.partner .content p {
    padding: 1.5em 0;
    font-size: 1.1rem;
}

.partner h4 {
    font-size: 2rem;
    font-weight: 700;
}

.partner .content .btn {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    width: max-content;
}

/*XXXXXXGRIDXXXXXX*/

.grid {
    justify-content: center;
    flex-wrap: wrap;
}

.grid p {
    font-size: 0.8rem;
}

.card {
    padding: 1em 1.5em;
}

/*XXXXXXXXXXXXX
XXXXXFOOTERXXXX
XXXXXXXXXXXXXX*/

footer {
    background-color: #000;
    display: flex;
    flex-direction: column;
}

.footer {
    width: 80%;
    margin: 0 auto;
}

.footer>div {
    padding: 16px 0;
}

.footer-up {
    display: flex;
    justify-content: space-between;
}

.footer-up h3,
.footer-up a {
    color: #fff;
}

.footer-up h3 {
    padding: 8px 2px;
}

.footer-up li {
    padding: 2px;
}

.footer-bott {
    color: #fff;
    width: fit-content;
    border-top: 1px solid #fff;
}